main {
  width: 80%;
  margin-left: 10%;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.bg-lightblue {
  background-color: #f4fafd;
}

.mb-10 {
  margin-bottom: 10%;
}

.margin-top-standard {
  margin-top: 10%;
}

/* adding responsive text classes for slider elements */
.slider-heading {
  font-size: 4vw;
}

.slider-text {
  font-size: 2vw;
}

.footer-hw {
  height: 52vh;
  width: 100%;
}

.footer-p {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.text-gray {
  color: gray;
}
