main {
  width: 80%;
  margin-left: 10%;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.bg-lightblue {
  background-color: #f4fafd;
}

.margin-top-standard {
  margin-top: 10%;
}
.margin-top-low {
  margin-top: 6%;
}

.footer-hw {
  height: 52vh;
  width: 100%;
}

.footer-p {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.text-gray {
  color: gray;
}

@media screen and (max-width: 576px) {
  .carousel-caption {
    height: 80%;
  }
  .carousel-caption h1 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .carousel-caption p {
    font-size: 9px;
    margin: 5px;
  }

  .carousel-caption button {
    font-size: 10px;
  }

  .carousel-caption span {
    display: none;
  }
}
